@page "/addons"

@using BLL.DTO.AddOn
@using BlazorFront.Services.Interfaces
@inject IAddOnService AddOnService

<h3>List of AddOns</h3>

@if (IsLoading)
{
    <p>Loading AddOns...</p>
}
else if (AddOns?.Any() == true)
{
    <ul>
        @foreach (var addOn in AddOns)
        {
            <li>
                <strong>@addOn.Name</strong> - @addOn.Price
            </li>
        }
    </ul>
}
else
{
    <p>No AddOns available.</p>
}

@code {
    private List<AddOnDto> AddOns { get; set; } = new List<AddOnDto>();
    private bool IsLoading { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            IsLoading = true;
            AddOns = (await AddOnService.GetAllAddOnsAsync()).ToList();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading AddOns: {ex.Message}");
        }
        finally
        {
            IsLoading = false;
        }
    }
}
