@page "/example"

@rendermode InteractiveServer

<div>
    <input @bind="text" @bind:event="oninput" @bind:after="Search">
    <button @onclick="OnClick">Clear</button>
    <p>@text</p>
    <p>@searcgResult</p>
</div>


@code {
    string text = "";

    string searcgResult = ""
    ;
    private void OnChange(ChangeEventArgs e)
    {
        text = (string)e.Value!;
    }

    private void OnClick(MouseEventArgs e)
    {
        text = "";
    }

    async Task Search()
    {

        searcgResult = "Searching...";
        await Task.Delay(2000);
        searcgResult = $"Found {Random.Shared.Next()} results";
    }
}