@page "/analytics"

<!-- Main Section -->
<main class="analytics">
    <h1>Аналітика</h1>
    <p class="date-selection">Оберіть дату</p>
    <div class="date-range">
        <div class="date-picker">
            <label for="start-date">Від</label>
            <input type="date" id="start-date" name="start-date">
        </div>
        <div class="date-picker">
            <label for="end-date">До</label>
            <input type="date" id="end-date" name="end-date">
        </div>
    </div>
    <div class="analytics-cards">
        <div class="analytics-card">
            <p>Загальний прибуток</p>
            <h2>100000$</h2>
            <p class="growth">↑ 1.3%</p>
        </div>
        <div class="analytics-card">
            <p>Кількість квітів</p>
            <h2>100000$</h2>
            <p class="growth">↑ 1.3%</p>
        </div>
        <div class="analytics-card">
            <p>Середня ціна квітки</p>
            <h2>100000$</h2>
            <p class="growth">↑ 1.3%</p>
        </div>
        <div class="analytics-card">
            <p>Середня ціна букета</p>
            <h2>100000$</h2>
            <p class="growth">↑ 1.3%</p>
        </div>
        <div class="analytics-card">
            <p>Середня сума чеку</p>
            <h2>100000$</h2>
            <p class="growth">↑ 1.3%</p>
        </div>
        <div class="analytics-card">
            <p>Кількість замовлень в день</p>
            <h2>100000$</h2>
            <p class="growth">↑ 1.3%</p>
        </div>
    </div>
</main>