@page "/admin-users"
\<!-- Main Content -->
<main class="account-page">
    <h1>Користувачі</h1>
    <div class="user-list">
        <div class="search-container">
            <input type="text" placeholder="Пошук" class="search-bar">
        </div>
        <table class="user-list-table">
            <tr>
                <th>ID</th>
                <th>Ім'я</th>
                <th>Номер тел</th>
                <th>Email</th>
                <th>Дії</th>
            </tr>
            <tr>
                <td>4568</td>
                <td>Тарас Шевченко</td>
                <td>0665487552</td>
                <td>shevchenko@gmail.com</td>
                <td>
                    <button class="icon-button">
                        <img src="more-info-icon3.png" alt="Детальна інформація" class="icon">
                    </button>
                    <button class="icon-button">
                        <img src="delete-icon2.png" alt="Повторити замовлення" class="icon">
                    </button>
                </td>
            </tr>
            <tr>
                <td>4568</td>
                <td>Тарас Шевченко</td>
                <td>0665487552</td>
                <td>shevchenko@gmail.com</td>
                <td>
                    <button class="icon-button">
                        <img src="more-info-icon3.png" alt="Детальна інформація" class="icon">
                    </button>
                    <button class="icon-button">
                        <img src="delete-icon2.png" alt="Повторити замовлення" class="icon">
                    </button>
                </td>
            </tr>
            <tr>
                <td>4568</td>
                <td>Тарас Шевченко</td>
                <td>0665487552</td>
                <td>shevchenko@gmail.com</td>
                <td>
                    <button class="icon-button">
                        <img src="more-info-icon3.png" alt="Детальна інформація" class="icon">
                    </button>
                    <button class="icon-button">
                        <img src="delete-icon2.png" alt="Повторити замовлення" class="icon">
                    </button>
                </td>
            </tr>
        </table>
    </div>
</main>