<div class="footer-container">
    <div class="footer-section contact-info">
        <p class="phone">085 674 56 34</p>
        <hr class="divider">
        <a href="mailto:lunalarosa_shop@gmail.com" class="email">lunalarosa_shop@gmail.com</a>
    </div>
    <div class="footer-section links">
        <ul>
            <li><a href="/">Головна</a></li>
            <li><a href="/ready-bouquets">Асортимент</a></li>
            <li><a href="/custom-bouquet">Створення власного букета</a></li>
            <li><a href="/ready-wedding-bouquets">Весільні букети</a></li>
        </ul>
    </div>
    <div class="footer-section contact-form">
        <h4>Зв'язатись з нами</h4>
        <form>
            <textarea placeholder="Напишіть повідомлення" rows="2"></textarea>
            <div class="email-submit">
                <input type="email" placeholder="E-mail" required />
                <button type="submit">→</button>
            </div>
        </form>
    </div>
</div>
<div class="footer-bottom">
    <div class="footer-logo">
        <img src="icons/logo.png" alt="Luna La Rose Logo" class="logo" />
        <p>© COPYRIGHT 2024</p>
    </div>
    <div class="social-media">
        <a href="#">Instagram</a>
        <a href="#">Tik-Tok</a>
        <a href="#">Facebook</a>
    </div>
</div>
