<div class="header-content" >
    <div class="logo">
        <img src="icons/logo.png" alt="Logo" />
    </div>
    <nav>
        <ul>
            <li><a href="/">Головна</a></li>
            <li><a href="/ready-bouquets">Асортимент</a></li>
            <li><a href="/custom-bouquet">Створення власного букета</a></li>
            <li><a href="/ready-wedding-bouquets">Весільні букети</a></li>
        </ul>
    </nav>
    <div class="user-actions">
        <a href="/profile"><img src="icons/user.png" alt="User" /></a>
        <a href="/cart"><img src="icons/cart.png" alt="Cart" /></a>
    </div>
</div>


