@inject NavigationManager NavigationManager
@rendermode InteractiveServer
<section class="custom-bouquet">
    <div class="custom-bouquet-content">
        <div class="text-content">
            <h1>Можливість створення авторського букету</h1>
            <p>та доставка букетів зі свіжих квітів</p>
            <button class="create-bouquet-btn" @onclick="NavigateToCreateBouquet">Створити букет</button>
        </div>
        <img class="bouquet-image" src="icons/bouquet.png" alt="Custom Bouquet">
    </div>
</section>

@code {
    private void NavigateToCreateBouquet()
    {
        NavigationManager.NavigateTo("/custom-bouquet");
    }
}

